    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Your cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>
                                

                                <% if (cartdata && cartdata.items.length > 0) { %>

                                    <% var totalPrice = 0; %>
                                    <% cartdata.items.forEach(item => { %>

                                        <%
                                        const itemTotal = item.quantity * item.Salesprice;
                                         totalPrice += itemTotal;
                                    %>
                                
                                <tr class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="/assets/uploads/product/<%= item.productimage[0] %>" alt="3/4 Sleeve Kimono Dress"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a href="#"><%= item.name %></a>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">₹<%= item.Salesprice %></span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                                <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="<%= item.quantity %>" pattern="[0-9]*">
                                                <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money"></span>₹<%= itemTotal %></div>
                                    </td>
                                    <td class="text-center small--hide"><a href="#" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon icon anm anm-times-l"></i></a></td>
                                </tr>
                                <% }); %>
                                <% } else { %>
                                <h2>Your cart is empty Add some products</h3>
                              <% } %>
                            </tbody>
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="http://annimexweb.com/" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td>
                                    <td colspan="3" class="text-right"><button type="submit" name="update" class="btn--link cart-update"><i class="fa fa-refresh"></i> Update</button></td>
                                </tr>
                            </tfoot>
                    </table>
                    
                    <div class="currencymsg">We processes all orders in IND. While the content of your cart is currently displayed in IND, the checkout will use USD at the most current exchange rate.</div>
                    <hr>
					<div id="shipping-calculator" class="mb-4">
                    	<h5 class="small--text-center">CRC_WORLD</h5>
                        <!-- <div class="row">
                        	<div class="col-12 col-sm-12 col-md-4">
                            	<div class="form-group">
                                	<label for="address_country">Country</label>
                          			<select id="address_country" name="address[country]" data-default="United States"><option value="Belgium" data-provinces="[]">Belgium</option>
                                        <option value="---" data-provinces="[]">---</option>
                                        <option value="Afghanistan" data-provinces="[]">Afghanistan</option>
                                        <option value="Zimbabwe" data-provinces="[]">Zimbabwe</option></select>
                            	</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4">
                            	<div class="form-group">
                                	<label>State</label>
                          			<select id="address_province" name="address[province]" data-default="">
                                      <option value="Alabama">Alabama</option>
                                      <option value="Armed Forces Europe">Armed Forces Europe</option>
                                      <option value="Armed Forces Pacific">Armed Forces Pacific</option>
                                    </select>
                            	</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4">
                            	<div class="form-group">
                                	<label for="address_zip">Postal/Zip Code</label>
                          			<input type="text" id="address_zip" name="address[zip]">
                            	</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 actionRow text-center">
      							<div><input type="button" class="btn btn--secondary get-rates" value="Calculate shipping"></div>
  							</div>
                        </div> -->
                    </div> 
                    
                    </form>                   
               	</div>
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                	<div class="cart-note">
                    </div>
                    <div class="solid-border">
                      <div class="row">
                      	<span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">₹<%= totalPrice %></span></span>
                      </div>
                      <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                      <p class="cart_tearm">
                        <label>
                          <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
                           I agree with the terms and conditions</label>
                      </p>
                      <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout" disabled="disabled">
                      <div class="paymnet-img"><img src="assets/images/payment-img.jpg" alt="Payment"></div>
                    </div>

                </div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->





    <!-- // product image -->

    <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="product-details-img product-single__photos bottom">
            <div class="zoompro-wrap product-zoom-right pl-20">
                <div class="zoompro-span">
                    <img class="blur-up lazyload zoompro" data-zoom-image="/assets/uploads/product/<%= productdata.productimage[0] %>" alt="" src="/assets/uploads/product/<%= productdata.productimage[0] %>" />
                </div>
                <div class="product-labels"><span class="lbl on-sale">Sale</span><span class="lbl pr-label1">new</span></div>
                <div class="product-buttons">
                    <a href="https://www.youtube.com/watch?v=93A2jOW5Mog" class="btn popup-video" title="View Video"><i class="icon anm anm-play-r" aria-hidden="true"></i></a>
                    <a href="#" class="btn prlightbox" title="Zoom"><i class="icon anm anm-expand-l-arrows" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="product-thumb product-thumb-1">
                <div id="gallery" class="product-dec-slider-1 product-tab-left">
                    <a data-image="/assets/uploads/product/<%= productdata.productimage[0] %>" data-zoom-image="/assets/uploads/product/<%= productdata.productimage[0] %>" class="slick-slide slick-cloned" data-slick-index="-4" aria-hidden="true" tabindex="-1">
                        <img class="blur-up lazyload" src="/assets/uploads/product/<%= productdata.productimage[0] %>" alt="" />
                    </a>
                    <a data-image="/assets/uploads/product/<%= productdata.productimage[1] %>" data-zoom-image="/assets/uploads/product/<%= productdata.productimage[1] %>" class="slick-slide slick-cloned" data-slick-index="-3" aria-hidden="true" tabindex="-1">
                        <img class="blur-up lazyload" src="/assets/uploads/product/<%= productdata.productimage[1] %>" alt="" />
                    </a>
                    <a data-image="/assets/uploads/product/<%= productdata.productimage[2] %>" data-zoom-image="/assets/uploads/product/<%= productdata.productimage[2] %>" class="slick-slide slick-cloned" data-slick-index="-2" aria-hidden="true" tabindex="-1">
                        <img class="blur-up lazyload" src="/assets/uploads/product/<%= productdata.productimage[2] %>" alt="" />
                    </a>
                </div>
            </div>
            <div class="lightboximages">
            </div>

        </div>
    </div>




    <!-- //my orders page -->

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="customer-box returning-customer text-center">
                <h3>
                    <i class="icon anm anm-user-al"></i>
                    <a>Order Details</a>
                </h3>
    
                <% orderdetails.forEach(order => { %> 
                <div id="order-details" class="your-order-payment mb-4"> 
                    <div class="card-body">
                        <div class="row text-left">
                            <div class="col-md-4">
                                <h5 class="card-title">Order Summary</h5>
                                <p>
                                    <strong>Order ID:</strong> <%= order._id.toString() %><br>
                                    <strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString() %><br>
                                    <strong>Status:</strong> <%= order.status %><br>
                                    <strong>Total Price:</strong> ₹<%= order.totalPrice.toFixed(2) %><br>
                                    <strong>Payment Method:</strong> <%= order.paymentMethod %><br>
                                    <strong>Payment Status:</strong> <%= order.paymentStatus %>
                                </p>
                            </div>
    
                            <div class="col-md-4">
                                <h5 class="card-title">Billing Details</h5>
                                <p>
                                    <strong>Name:</strong> <%= order.billingDetails.name %><br>
                                    <strong>Phone:</strong> <%= order.billingDetails.phone %><br>
                                    <strong>House Name:</strong> <%= order.billingDetails.housename %><br>
                                    <strong>Location:</strong> <%= order.billingDetails.locality %>, <%= order.billingDetails.district %>, <%= order.billingDetails.state %><br>
                                    <strong>PIN:</strong> <%= order.billingDetails.pincode %><br>
                                    <strong>Email:</strong> <%= order.billingDetails.email %>
                                </p>
                            </div>
    
                            <div class="col-md-4">
                                <h5 class="card-title">Ordered Items</h5>
                                <% order.items.forEach(item => { %> 
                                <p>
                                    <strong>Product:</strong> <%= item.productname %><br>
                                    <strong>Price:</strong> ₹<%= item.Salesprice.toFixed(2) %><br>
                                    <strong>Quantity:</strong> <%= item.quantity %><br>
                                    <strong>Size:</strong> <%= item.size %><br>
                                    <img src="/assets/uploads/product/<%= item.productimage[0] %>" alt="<%= item.productname %>" style="width: 110px; margin-top: 5px;">
                                </p>
                                <% }) %>
                            </div>
                        </div>
    
                        <% if(order.returnReason) { %>
                        <div class="row mt-4">
                            <div class="col">
                                <h5 class="card-title">Return Reason</h5>
                                <p><%= order.returnReason %></p>
                            </div>
                        </div>
                        <% } %>
    
                        <div class="d-flex justify-content-center mt-4">
                            <a href="/shop" class="btn btn-outline-primary me-2">Continue Shopping</a>
                            <a href="/orders/<%= order._id.toString() %>/summary" class="btn btn-outline-secondary">View Order Summary</a>
                        </div>
                    </div>
                </div>
                <% }); %> 
            </div>
        </div>
    </div>
    
