<%- include("../layouts/user/header.ejs") %>

    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Shopping Cart</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 main-col">
                	<div class="alert alert-success text-uppercase" role="alert">
						<i class="icon anm anm-truck-l icon-large"></i> &nbsp;<strong>Congratulations!</strong> You've got free shipping!
					</div>
                	<form action="#" method="post" class="cart style2">
                		<table>
                            <thead class="cart__row cart__header">
                                <tr>
                                    <th colspan="2" class="text-center">Product</th>
                                    <th class="text-center">Price</th>
                                    <th class="text-center">Quantity</th>
                                    <th class="text-right">Total</th>
                                    <th class="action">&nbsp;</th>
                                </tr>
                            </thead>
                    		<tbody>

                                <% if (cartdata && cartdata.items.length > 0) { %>

                                    <% var totalPrice = 0; %>
                                    <% cartdata.items.forEach(item => { %>

                                        <%
                                        const itemTotal = item.quantity * item.Salesprice;
                                         totalPrice += itemTotal;
                                    %>


                                <tr id="cartitem-<%= item._id %>" class="cart__row border-bottom line1 cart-flex border-top">
                                    <td class="cart__image-wrapper cart-flex-item">
                                        <a href="#"><img class="cart__image" src="/assets/uploads/product/<%= item.productimage[0] %>" alt="Elastic Waist Dress - Navy / Small"></a>
                                    </td>
                                    <td class="cart__meta small--text-left cart-flex-item">
                                        <div class="list-view-item__title">
                                            <a style="font-weight: bold;" href="#"><%= item.name %></a>
                                        </div>
                                        
                                        <div class="cart__meta-tex">    
                                        Size:<% "  " %><%= item.size %>
                                        </div>
                                    </td>
                                    <td class="cart__price-wrapper cart-flex-item">
                                        <span class="money">₹<%= item.Salesprice %></span>
                                    </td>
                                    <td class="cart__update-wrapper cart-flex-item text-right">
                                        <div class="cart__qty text-center">
                                            <div class="qtyField">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon icon-minus"></i></a>
                                                    <input class="cart__qty-input qty" type="text" name="updates[]" id="qty-<%= item.productId %>" value="<%= item.quantity %>" pattern="[0-9]*" readonly>
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon icon-plus"></i></a>
                                                </div>
                                                 <!-- <div><span class="money"><%= item.quantity %></span></div> -->



                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-right small--hide cart-price">
                                        <div><span class="money">₹<%= itemTotal %></span></div>
                                    </td>
                                  </form>                   

                                    <td class="text-center small--hide">
                                            <input id="productid" type="hidden" name="itemId" value="<%= item._id %>">
                                            <button type="button" id="removeitem"  class="btn btn--secondary cart__remove" title="Remove Item">
                                                <i class="icon icon anm anm-times-l"></i>
                                            </button>
                                    </td>
                                </tr>

                                <% }); %>
                                <% } else { %>
                                <h2>Your cart is empty Add some products</h3>
                              <% } %>

                            </tbody>
                    		<tfoot>
                                <tr>
                                    <td colspan="3" class="text-left"><a href="/user_shop" class="btn btn-secondary btn--small cart-continue">Continue shopping</a></td>
                                    <td colspan="3" class="text-right">
	                                    <!-- <button type="submit" name="clear" class="btn btn-secondary btn--small  small--hide">Clear Cart</button>
                                    	<button type="submit" name="update" class="btn btn-secondary btn--small cart-continue ml-2">Update Cart</button> -->
                                    </td>
                                </tr>
                            </tfoot>
                    </table> 
               	</div>
                
                
                <div class="container mt-4">
                    <div class="row">
                    	<div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Discount Codes</h5>
                            <form action="#" method="post">
                            	<div class="form-group">
                                    <label for="address_zip">Enter your coupon code if you have one.</label>
                                    <input type="text" name="coupon">
                                </div>
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Apply Coupon"></div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 mb-4">
                        	<h5>Estimate Shipping and Tax</h5>
							<form action="#" method="post">
                                <div class="form-group">
                                    <label for="address_country">Country</label>
                                    <input type="text" id="address_zip" name="address[zip]">
                                </div>
    
                                <div class="form-group">
                                    <label>State</label>
                                    <input type="text" id="address_zip" name="address[zip]">
                                </div>
                                <div class="form-group">
                                    <label for="address_zip">Postal/Zip Code</label>
                                    <input type="text" id="address_zip" name="address[zip]">
                                </div>
    
                                <div class="actionRow">
                                    <div><input type="button" class="btn btn-secondary btn--small" value="Calculate shipping"></div>
                                </div>
                            </form>
                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                            <div class="solid-border">	
                              <div class="row border-bottom pb-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title">Subtotal</span>
                                <span class="col-12 col-sm-6 text-right"><span class="money">₹<%= totalPrice %></span></span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span  class="col-12 col-sm-6 cart__subtotal-title">Shipping</span>
                                <span style="color: green; font-weight: bold; " class="col-12 col-sm-6 text-right">Free shipping</span>
                              </div>
                              <div class="row border-bottom pb-2 pt-2">
                                <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                                <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">₹<%= totalPrice %></span></span>
                              </div>
                              <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                              <p class="cart_tearm">
                                <label>
                                  <input type="checkbox" name="tearm" class="checkbox" value="tearm" required="">
                                  I agree with the terms and conditions
								</label>
                              </p>
                              <!-- <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Proceed To Checkout" > -->
                               <a href="/user_checkout" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" > Proceed To Checkout </a>
                              <div class="paymnet-img"><img src="assets/images/payment-img.jpg" alt="Payment"></div>
                              <p><a href="#;">Checkout with Multiple Addresses</a></p>
                            </div>
        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <!--End Body Content-->


<%- include("../layouts/user/footer.ejs") %>

<script>
    const message = "<%= message %>";
    const type = "<%= type %>";

    if (message && message.length > 0) {
        Swal.fire({
            icon: type, // 'success', 'error', 'warning', 'info'
            title: message,
            toast: true,
            position: "top-end",
            showConfirmButton: false,
            timerProgressBar: true,
            timer: 3000,
            customClass: {
        popup: 'custom-toast'
    },
    didOpen: () => {
        const swalPopup = document.querySelector('.custom-toast');
        swalPopup.style.marginTop = '70px';  
        swalPopup.style.marginRight = '20px'; 
    }
        });
    }



    function qnt_incre() {
    $(".qtyBtn").on("click", function() {
        var qtyField = $(this).parent(".qtyField"),
            oldValue = $(qtyField).find(".qty").val(),
            itemId = $(qtyField).find(".qty").attr("id").split('-')[1],
            newVal = 1;

        if ($(this).is(".plus")) {
            if (parseInt(oldValue) < 5) {
                newVal = parseInt(oldValue) + 1;
            } else {
                newVal = 5;
                Swal.fire({
                        icon: 'warning',
                        title: 'Limit reached',
                        text: 'You can only add up to 5 of this item.',
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000,
                    });
                    return ;
            }
        } else if (oldValue > 1) {
            newVal = parseInt(oldValue) - 1;
        }else{
            Swal.fire({
                        icon: 'warning',
                        title: 'Minimum quantity',
                        text: 'You must have at least 1 item.',
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000,
                    });
                    return ;
        }

        $(qtyField).find(".qty").val(newVal);

        $.ajax({
            url: '/update_quntity',
            method: 'POST',
            data: {
                itemId: itemId,
                quantity: newVal
            },
            success: function(response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        text: 'The quantity has been updated successfully.',
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 3000,

                    });
                } else if (response.stockError) {
                    $(qtyField).find(".qty").val(oldValue); 
                    Swal.fire({
                        icon: 'error',
                        title: 'Stock error!',
                        text: 'The requested quantity exceeds available stock.',
                        toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000,

                    });
                }
            },
            error: function(error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error!',
                    text: 'There was an error updating the quantity. Please try again.',
                    toast: true,
                        position: "top-end",
                        showConfirmButton: false,
                        timerProgressBar: true,
                        timer: 2000,

                });
                console.log('Error updating quantity:', error);
            }
        });
    });
}
qnt_incre();


// function  remove the  cart item
document.querySelectorAll(".cart__remove").forEach(function(button) {
    button.addEventListener("click", function() {
        const id = document.getElementById("productid").value;
        console.log("this is cart remove id", id);

        // Confirmation dialog with SweetAlert
        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to remove this item from the cart.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, remove it!'
        }).then((result) => {
            if (result.isConfirmed) {
                // Fetch request to remove the cart item
                fetch("/remove_cartitem", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id })
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    if (data.success) {
                        Swal.fire({
                            icon: 'success',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                        });

                        // Remove the item from DOM if it exists
                        const cartitem = document.getElementById(`cartitem-${id}`);
                        console.log('cartitem is', cartitem);
                        if (cartitem) {
                            cartitem.remove();
                        }
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                        });
                    }
                })
                .catch(error => {
                    console.error("error for remove cartitem", error);
                });
            }
        });
    });
});

</script>
