<%- include("../layouts/user/header.ejs") %>

<head>


  <style>
    #customer-login, #have-coupon {
      position: absolute;
      background-color: white;
      width: 100%;
      z-index: 10;
      border: 1px solid #ccc;
      padding: 15px;
      display: none; 
  }
  
  #customer-login.show, #have-coupon.show {
      display: block; 
  }
  
  .customer-box {
      position: relative;
  }
  
  </style>
  

</head>


<body>
 <div id="page-content">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Checkout</h1></div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="customer-box returning-customer">
          <h3>
            <i class="icon anm anm-user-al"></i>
            <a>Available Address</a>
        </h3>
        <div id="customer-login" class="your-order-payment">
          <div class="customer-info">
                          <button class="btn btn-sm btn-outline-primary me-2" type="button"
                              data-bs-toggle="collapse" data-bs-target="#edit-form-55555"
                              aria-expanded="false" aria-controls="edit-form-55555%>">
                              Add New Address
                          </button>
            </div>
  
              <!-- New address form -->
              <div id="edit-form-55555" class="collapse mt-3">
                <form method="POST" action="/checkout_addaddress">
                    <div class="row g-3">
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="text" id="name" name="name" value="<%= userdata.firstname + userdata.lastname %>" class="form-control" placeholder="Full Name">
                            <span id="errname" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="<%= userdata.email %>">
                            <span id="erremail" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="text" id="housename" name="housename" class="form-control" placeholder="House Name">
                            <span id="errhousename" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="text" id="locality" name="locality" class="form-control" placeholder="Locality">
                            <span id="errlocality" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="text" id="district" name="district" class="form-control" placeholder="District">
                            <span id="errdistrict" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-6">
                            <input type="text" id="state" name="state" class="form-control" placeholder="State">
                            <span id="errstate" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-12">
                            <input type="text" id="landmark" name="landmark" class="form-control" placeholder="Landmark">
                            <span id="errlandmark" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-4">
                            <input type="text" id="pincode" name="pincode" class="form-control" placeholder="Zip/Postal Code">
                            <span id="errpincode" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-4">
                            <input type="text" id="phonenumber" name="phonenumber" class="form-control" placeholder="Contact Number">
                            <span id="errphonenumber" style="color: red;"></span>
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-md-4">
                            <input type="text" name="altnumber" class="form-control" placeholder="Alternate Number">
                        </div>
                        
                        <div style="padding-bottom: 10px;" class="col-12">
                          <br>
                            <button type="submit" style="background-color: black; color: white; padding: 10px 20px; font-size: 12px; border: none; text-transform: uppercase; cursor: pointer;">
                                Add Address
                            </button>
                        </div>
                    </div>
                </form>
            </div>


            <div class="card-body">
                  <h5 class="card-title mb-4">Your Addresses</h5>
                  <% userdata.addressId.forEach(function(a, index) { %>
                  <div class="card mb-3">
                      <div class="card-body">
                        <div style="padding: 5px;margin-right: 10px;">
                          <input type="radio" id="address-<%= a._id %>" name="selectedAddress" value="<%= a._id %>" class="form-check-input" <% if(index ==0) {%> checked <% } %> required>
                          <label class="form-check-label" for="address-<%= a._id %>"><%= a.addressLine %></label>


                        </div>
                        <div>
                          <h6 class="card-subtitle mb-2 text-muted"><%= a.name %></h6>
                          <p class="card-text">
                              House Name: <%= a.housename %><br>
                              Location: <%= a.locality %>, <%= a.district %>, <%= a.state %><br>
                              PIN: <%= a.pincode %><br>
                              Phone: <%= a.phone %>
                          </p>
  
                          <button class="btn btn-sm btn-outline-primary me-2" type="button"
                              data-bs-toggle="collapse" data-bs-target="#edit-form-<%= a._id %>"
                              aria-expanded="false" aria-controls="edit-form-<%= a._id %>">
                              Edit
                          </button>
  
 
                          <div id="edit-form-<%= a._id %>" class="collapse mt-3">
                              <form method="POST" action="/checkoutedit_address?id=<%= a._id %>">
                                  <div class="row g-3">
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="name" class="form-control" value="<%= a.name %>" placeholder="Full Name">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="housename" class="form-control" value="<%= a.housename %>" placeholder="House Name">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="locality" class="form-control" value="<%= a.locality %>" placeholder="Locality">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="district" class="form-control" value="<%= a.district %>" placeholder="District">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="landmark" class="form-control" value="<%= a.landMark %>" placeholder="Landmark">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-6">
                                          <input type="text" name="phone" class="form-control" value="<%= a.phone %>" placeholder="Phone Number">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-4">
                                          <input type="text" name="state" class="form-control" value="<%= a.state %>" placeholder="State/Province">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-4">
                                          <input type="text" name="pincode" class="form-control" value="<%= a.pincode %>" placeholder="Zip/Postal Code">
                                      </div>
                                      <div style="padding-bottom: 10px;" class="col-md-4">
                                          <input type="text" name="altphone" class="form-control" value="<%= a.altPhone0 %>" placeholder="Phone Number">
                                      </div>
                                      <div class="col-12">
                                        <br>  
                                          <button type="submit" style="background-color: black; color: white; padding: 10px 20px; font-size: 12px; border: none; text-transform: uppercase; cursor: pointer;">
                                              Update Address
                                          </button>
                                      </div>
                                  </div>
                              </form>
                          </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>
              </div>
          </div>
      </div>
    </div>


      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
        <div class="customer-box customer-coupon">
          <h3 class="font-15 xs-font-13">
            <i class="icon anm anm-gift-l"></i> 
            <a
              class="text-white text-decoration-underline"
              data-toggle="collapse"
              >Check and Confirm Order Details</a
            >
          </h3>
        </div>
      </div>
    </div>

    <div class="row billing-fields">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 sm-margin-30px-bottom">
        
      </div>

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="your-order-payment">
          <div class="your-order">
            <h2 class="order-title mb-4">Your Orders</h2>

            <div class="table-responsive-sm order-table">
              <table
                class="bg-white table table-bordered table-hover text-center"
              >
                <thead>
                  <tr>
                    <th class="text-left">Product Name</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Qty</th>
                    <th>Subtotal</th>
                  </tr>
                </thead>
                <tbody>

                  <% var grandTotal = 0 %>
                  
                  <% cardata.items.forEach((item)=>{  %> 
                  <tr>
                    <td class="text-left"><%= item.name %></td>
                    <% const price = item.priceafteroffer ? item.priceafteroffer : item.Salesprice  %>
                    <td>₹ <%= price %></td>
                    
                    <td><%= item.size %></td>
                    <td><%= item.quantity %></td>
                    <td>₹ <%= item.quantity * price %></td>
                  </tr>
                  <!-- // find the grand total of all products -->

                  
                  <%  grandTotal = grandTotal + (item.quantity * price); %>

                 <!-- // find the grand total of all products -->
                <% }); %>
                </tbody>
                <tfoot class="font-weight-600">
                  <tr>
                    <td colspan="4" class="text-right">Shipping</td>
                    <td>₹ 0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">Coupons</td>
                    <td id="offerprice">₹ 0.00</td>
                  </tr>
                  <tr>
                    <td colspan="4" class="text-right">Total</td>
                    <td id="total-display">₹ <%= grandTotal.toFixed(2) %></td>
                    <input id="totalamt" type="hidden" value="<%= grandTotal.toFixed(2) %>" data-original-total="<%= grandTotal.toFixed(2) %>">
 
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <button class="btn btn-danger btn-sm mt-2" id="removeCoupon" style="display: none;" >Remove Coupon</button>

          <hr />
          <div class="card mb-2">
            <div class="card-header">
              <a style="font-weight: 500;font-size: larger;" class="collapsed card-link" data-toggle="collapse" href="#collapseFour">MY WALLET</a>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <h5>Wallet Balance:</h5>
                    <p style="font-size: larger; font-weight:bold;" id="wallet-balance">₹ <%= wallet.balance %></p>
                  </div>
                  <a href="/load_wallet" class="btn btn-primary">Go to Wallet</a>
                </div>
              </div>
            </div>
          </div>          <hr/>

          <h2 class="payment-title mb-3">Discount Codes</h2>

          <div class="your-payment">
            <div class="payment-method">
              <div class="payment-accordion">
                <div class="card mb-2">
                  <div class="card-header">
                      <a class="card-link" data-toggle="collapse" href="#collapseOne">available coupons </a>
                  </div>
                  <div id="collapseOne" class="collapse" data-parent="#accordion">
                      <div class="card-body">
                        <table
                        class="bg-white table table-bordered table-hover text-center"
                      >
                        <thead>
                          <tr>
                            <th>Coupon Name</th>
                            <th>Coupon code</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% coupons.forEach((item)=>{ %>
                          <tr>
                            <td> <%= item.couponName %></td>
                            <td> <%= item.couponCode %> </td>
                          </tr>
                          <% }) %>
                        </tbody>
                        </table>
                      </div>
                  </div>
              </div>
      
                <div id="accordion" class="payment-section">
                  
                  <div class="card mb-2">
                    <div class="card-header">
                      <a
                        class="collapsed card-link"
                        data-toggle="collapse"
                        href="#collapseTwo"
                        >Enter your coupon code</a
                      >
                    </div>
                    <div
                      id="collapseTwo"
                      class="collapse"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <div>
                          <div class="discount-coupon">
                            <div id="coupon" class="coupon-dec tab-pane active">
                              <p class="margin-10px-bottom">
                                Enter your coupon code if you have one.
                              </p>
                              <label class="required get" for="coupon-code"
                                ><span class="required-f">*</span> Coupon</label
                              >
                              <input id="coupon-code" required="" type="text" class="mb-3" />
                              <button id="applaycoupons" class="coupon-btn btn" type="button">
                                Apply Coupon
                              </button>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <hr />
                  <br>

                  <h2 class="payment-title mb-3">payment method</h2>
                  <div class="card mb-2">
                    <div class="card-header">
                      <a
                        class="card-link"
                        data-toggle="collapse"
                        href="#collapseThree"
                        >Choose Your Payment Method
                      </a>
                    </div>
                    <div
                      id="collapseThree"
                      class="collapse"
                      data-parent="#accordion"
                    >
                      <div class="card-body">
                        <div>
                        <input style=" margin: 3px;" class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="COD" checked >
                        <label style="margin-left: 20px;" class="form-check-label" for="cashOnDelivery">
                          Select Cash On Delivery
                        </div>
                        <br>
                        <div>
                          <input style=" margin: 3px;" class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery" value="onlinepayment" >
                          <label style="margin-left: 20px;" class="form-check-label" for="cashOnDelivery">
                            Online Transaction
                        </div>
                        <br>
                        <div>
                          <input style=" margin: 3px;" class="form-check-input" type="radio" name="paymentMethod" id="cashOnDelivery"  value="mywallet" >
                          <label style="margin-left: 20px;" class="form-check-label" for="cashOnDelivery">
                            MY wallet
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>  
              <form id="orderForm" method="post" action="/Placeorder">
                <input type="hidden" id="selectedAddressInput" name="selectedAddress" value="">
                <input type="text" id="selectedPaymentMethodInput" name="paymentMethod" value="">
                <input  id="orderfinalamt" type="hidden" name="grandtotal" value="<%= grandTotal.toFixed(2) %>">
                <input type="hidden" id="applyiedcoupon" name="couponcode" value="">
                <input type="hidden" name="couponamt" id="couponamt" value="">
                <div class="order-button-payment">
                    <button style="font-size: 10px;" class="btn" type="submit">
                        Place order
                    </button>
                </div>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
</body>

<footer>
  <!-- Including Jquery -->
<script src="assets/js/vendor/jquery-3.3.1.min.js"></script>
<script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="assets/js/vendor/jquery.cookie.js"></script>
<script src="assets/js/vendor/wow.min.js"></script>
<!-- Including Javascript -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/lazysizes.js"></script>
<script src="assets/js/main.js"></script>
<!--For Newsletter Popup-->

    <script>
		jQuery(document).ready(function(){  
		  jQuery('.closepopup').on('click', function () {
			  jQuery('#popup-container').fadeOut();
			  jQuery('#modalOverly').fadeOut();
		  });
		  
		  var visits = jQuery.cookie('visits') || 0;
		  visits++;
		  jQuery.cookie('visits', visits, { expires: 1, path: '/' });
		  console.debug(jQuery.cookie('visits')); 
		  if ( jQuery.cookie('visits') > 1 ) {
			jQuery('#modalOverly').hide();
			jQuery('#popup-container').hide();
		  } else {
			  var pageHeight = jQuery(document).height();
			  jQuery('<div id="modalOverly"></div>').insertBefore('body');
			  jQuery('#modalOverly').css("height", pageHeight);
			  jQuery('#popup-container').show();
		  }
		  if (jQuery.cookie('noShowWelcome')) { jQuery('#popup-container').hide(); jQuery('#active-popup').hide(); }
		}); 
		
		jQuery(document).mouseup(function(e){
		  var container = jQuery('#popup-container');
		  if( !container.is(e.target)&& container.has(e.target).length === 0)
		  {
			container.fadeOut();
			jQuery('#modalOverly').fadeIn(200);
			jQuery('#modalOverly').hide();
		  }
		});
		
		/*--------------------------------------
			Promotion / Notification Cookie Bar 
		  -------------------------------------- */
		  if(Cookies.get('promotion') != 'true') {   
			 $(".notification-bar").show();         
		  }
		  $(".close-announcement").on('click',function() {
			$(".notification-bar").slideUp();  
			Cookies.set('promotion', 'true', { expires: 1});  
			return false;
		  });
	</script>

</footer>




<% include("../layouts/user/footer.ejs") %>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


<script>
  window.onload = function() {
      const customerLogin = document.getElementById("customer-login");
      if (customerLogin) {
          customerLogin.classList.add("show");
      }
  };
  
  
  </script>

<script>
  const message = "<%= message %>";
  const type = "<%= type %>";

  if (message && message.length > 0) {
      Swal.fire({
          icon: type, // 'success', 'error', 'warning', 'info'
          title: message,
          toast: true,
          background: "black",
            color:"white",
            position: "top-end",
            showConfirmButton: false,
            timerProgressBar: true,
            timer: 5000,
            customClass: {
           popup: 'custom-toast'
    },
    didOpen: () => {
        const swalPopup = document.querySelector('.custom-toast');
        swalPopup.style.marginTop = '70px';  
        swalPopup.style.marginRight = '15px'; 
    }

      });
  }
</script>

<!-- address selection -->

<script>
document.addEventListener("DOMContentLoaded", function() {
  const checkedRadio = document.querySelector('input[name="selectedAddress"]:checked');
  if (checkedRadio) {
    document.getElementById('selectedAddressInput').value = checkedRadio.value;
  }
});

document.querySelectorAll('input[name="selectedAddress"]').forEach(function(radio) {
  radio.addEventListener('change', function() {
    document.getElementById('selectedAddressInput').value = this.value;
  });
});

document.addEventListener("DOMContentLoaded", function() {
  const checkedRadio = document.querySelector('input[name="paymentMethod"]:checked');
  if (checkedRadio) {
    document.getElementById('selectedPaymentMethodInput').value = checkedRadio.value;
  }
});

document.querySelectorAll('input[name="paymentMethod"]').forEach(function(radio) {
  radio.addEventListener('change', function() {
    document.getElementById('selectedPaymentMethodInput').value = this.value;
  });
});
    
</script>

<script>
  document.getElementById("orderForm").addEventListener("submit", function(event) {
      event.preventDefault();

      Swal.fire({
          title: 'Confirm Your Order',
          text: "Ready to proceed with this purchase?",
          icon: 'question',
          iconColor: '#1e90ff',
          background: '#fefefe url("https://www.example.com/path-to-image.jpg") no-repeat center', 
          backdrop: `
              rgba(0, 0, 0, 0.6)
              url("https://www.example.com/path-to-gif.gif")
              left top
              no-repeat
          `, 
          showCancelButton: true,
          confirmButtonColor: '#4CAF50',
          cancelButtonColor: '#f44336', 
          confirmButtonText: '<i class="fas fa-check-circle"></i> Yes, place order',
          cancelButtonText: '<i class="fas fa-times-circle"></i> No, cancel', 
          customClass: {
              popup: 'swal-popup-custom', 
              title: 'swal-title-custom',
              actions: 'swal-actions-custom',
              confirmButton: 'swal-confirm-custom',
              cancelButton: 'swal-cancel-custom',
          },
          buttonsStyling: false, 
      }).then((result) => {
          if (result.isConfirmed) {
              event.target.submit(); 
          }
      });
  });

  // for applaying cupons

  document.getElementById("applaycoupons").addEventListener("click", function() {
    const couponcode = document.getElementById("coupon-code").value;
    const grandTotal = parseFloat(document.getElementById('totalamt').value); 
    console.log("grandTotal:", grandTotal); 

    fetch("/apply_coupons", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ couponcode, grandTotal })  
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                icon: "success", 
                title: data.message,
                toast: true,
                background: "black",
                color: "white",
                position: "top-end",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 5000,
                customClass: {
                    popup: 'custom-toast'
                },
                didOpen: () => {
                    const swalPopup = document.querySelector('.custom-toast');
                    swalPopup.style.marginTop = '70px';  
                    swalPopup.style.marginRight = '15px'; 
                }
            });

            console.log("updated data", data.offerprice);
            document.getElementById("offerprice").textContent = `₹ ${data.offerprice.toFixed(2)}`;  
            document.getElementById('totalamt').value = (grandTotal - data.offerprice).toFixed(2);  
            document.getElementById('total-display').textContent = `₹ ${(grandTotal - data.offerprice).toFixed(2)}`;  
            document.getElementById("orderfinalamt").value = (grandTotal - data.offerprice).toFixed(2)
            document.getElementById("applyiedcoupon").value = couponcode
            document.getElementById("couponamt").value = ` ${data.offerprice}`;

            document.getElementById("removeCoupon").style.display = "block";


        } else {
            Swal.fire({
                icon: "error", 
                title: data.message,
                toast: true,
                background: "black",
                color: "white",
                position: "top-end",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 5000,
                customClass: {
                    popup: 'custom-toast'
                },
                didOpen: () => {
                    const swalPopup = document.querySelector('.custom-toast');
                    swalPopup.style.marginTop = '70px';  
                    swalPopup.style.marginRight = '15px'; 
                }
            });
        }
    });
});


// for removing coupons

document.getElementById("removeCoupon").addEventListener("click", function() {
    const grandTotal = parseFloat(document.getElementById('totalamt').dataset.originalTotal);
    const couponcode = document.getElementById("coupon-code").value

    fetch("/remove_coupon", {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify({ grandTotal , couponcode })
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                icon: "success",
                title: data.message,
                toast: true,
                background: "black",
                color: "white",
                position: "top-end",
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 5000
            });

            document.getElementById("offerprice").textContent = `₹ 0.00`;
            document.getElementById('totalamt').value = grandTotal.toFixed(2);
            document.getElementById('total-display').textContent = `₹ ${grandTotal.toFixed(2)}`;
            document.getElementById("orderfinalamt").value = grandTotal.toFixed(2);

            // Hide the "Remove Coupon" button
            document.getElementById("removeCoupon").style.display = "none";
        }
    });
});


</script>

<style>
  .swal-popup-custom {
      border-radius: 15px;
      font-family: 'Arial', sans-serif;
      font-size: 16px;
  }
  .swal-title-custom {
      font-size: 24px;
      color: #333;
  }
  .swal-actions-custom {
      margin-top: 20px;
  }
  .swal-confirm-custom {
      background-color: #4CAF50 !important;
      color: white !important;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: bold;
  }
  .swal-cancel-custom {
      background-color: #f44336 !important;
      color: white !important;
      border-radius: 10px;
      padding: 10px 20px;
      font-weight: bold;
  }
</style>