
<%- include("../layouts/user/header.ejs") %>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<style>
    
    .btn-cancel {
    background-color: #ff6666;
    color: white;
    border-color: white;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 12px;
}

.btn-cancel:hover {
    background-color: #ff4d4d;
    border-color: #ff4d4d;
}

.btn-return {
    background-color: #ffc107;
    color: white;
    border-color: #ffc107;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 12px;
}

.btn-return:hover {
    background-color: #e0a800;
    border-color: #e0a800;
}

.btn-summary {
    background-color: #6c757d;
    color: white;
    border-color: #6c757d;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 12px;
}

.btn-summary:hover {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-retry {
    background-color: #dc3545;
    color: white;
    border-color: #dc3545;
    width: 150px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 12px;
}

.btn-retry:hover {
    background-color: #c82333;
    border-color: #c82333;
}

/* Additional spacing adjustments for a more polished layout */
p {
    margin-bottom: 1rem;
}

/* // item stats disply */
strong, span h2 {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

</style>
<!-- //style of pagenation -->
<style>
    .pagination-container {
    text-align: center;
    margin-top: 20px;
}

.pagination {
    display: inline-flex;
}

    
    .pagination .page-item {
        border: none;
    }
    
    .pagination .page-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px; /* Ensure uniform size for the buttons */
        height: 40px;
        border-radius: 50%;
        text-decoration: none;
        background-color: #f5f5f5;
        color: #050505;
        font-size: 14px;
        font-weight: bold;
        transition: all 0.3s ease;
    }
    
    .pagination .page-link:hover {
        background-color: #0a0a0a;
        color: #fff;
    }
    
    .pagination .active .page-link {
        background-color: #070707;
        color: #fff;
        border-radius: 50%;
        pointer-events: none;
    }
    </style>
        

    <!-- //my orders page -->

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="customer-box returning-customer text-center">
                <h3>
                    <i class="icon anm anm-user-al"></i>
                    <a>My Order</a>
                </h3>
    
                <% orderdetails.forEach(order => { %> 
                <div id="order-details" class="your-order-payment mb-4"> 
                    <div class="card-body">
                        <div class="row text-left">
                            
                            <div class="col-md-4">
                               
                                <h5 class="card-title" style="display: inline;"> Order Status:</h5>
                                <h6 style="display: inline;">   <h2  class="badge rounded-pill 
                                    <% if (order.status === 'Pending' || order.status === 'Shipped') { %>
                                        alert-warning
                                    <% } else if (order.status === 'Delivered') { %>
                                        alert-success
                                    <% } else if (order.status === 'Cancelled' || order.status === 'Returned') { %>
                                        alert-danger
                                    <% } %>
                                " id="status-<%= order._id %>" >
                                    <%= order.status %>
                                    </h2>   </h6>
                                <h5 class="card-title">Ordered Items</h5>
                                <% order.items.forEach(item => { %> 
                                <p>
                                    <img src="/assets/uploads/product/<%= item.productimage[0] %>" alt="<%= item.productname %>" style="width: 110px; margin-top: 5px;"><br>
                                    <strong>Product:</strong> <%= item.productname %><br>
                                    <strong>Price:</strong> ₹<%= item.finalprie ? item.finalprie.toFixed(2)*item.quantity : item.Salesprice.toFixed(2) %><br>
                                    <strong>Quantity:</strong> <%= item.quantity %><br>
                                    <strong>Size:</strong> <%= item.size %><br>
                                </p>
                                    <strong>Item Status:</strong>
                                <span>
                                <h2 class="badge rounded-pill 
                                    <% if (item.itemStatus === 'Pending' || item.itemStatus === 'Shipped') { %>
                                        alert-warning
                                    <% } else if (item.itemStatus === 'Delivered') { %>
                                        alert-success
                                    <% } else if (item.itemStatus === 'Cancelled' || item.itemStatus === 'Returned') { %>
                                        alert-danger
                                    <% } %>
                                " id="itemstatus-<%= order._id %>">
                                    <%= item.itemStatus %>
                                </h2>
                                </span>
                                
                                <% }) %>
                            </div>
    
                            <div class="col-md-4">
                                <h5 class="card-title">Order Summary</h5>
                                <p>
                                    <strong>Order ID:</strong> <%= order.Orderid.toString() %><br>
                                    <strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString() %><br>
                                    <strong>Coupon discount:</strong>  ₹<%= order.coupondiscout? order.coupondiscout.toFixed(2) : 0.00 %><br>
                                    <strong>Shipping Charge:</strong> ₹<%= order.shippingcharge  ? order.shippingcharge : 0.00 %><br>
                                    <strong>Total Price:</strong> ₹<%= order.totalPrice.toFixed(2) %><br>
                                    <strong>Payment Method:</strong> <%= order.paymentMethod %><br><br>
                                    <strong>Payment Status:</strong>
                                        <% if (order.paymentStatus === 'Success'|| order.paymentStatus === 'COD') { %>
                                            <h4 class="badge rounded-pill alert-success" style="font-size: 1.1em;">
                                                <%= order.paymentStatus %>
                                            </h4>
                                        <% } else if (order.paymentStatus === 'Pending') { %>
                                            <h4 class="badge rounded-pill alert-warning" style="font-size: 1.1em;">
                                                <%= order.paymentStatus %>
                                            </h4>
                                        <% } else if (order.paymentStatus === 'Failed') { %>
                                            <h4 class="badge rounded-pill alert-danger" style="font-size: 1.1em;">
                                                <%= order.paymentStatus %>
                                            </h4>
                                        <% } %>
                                </p>
                                <% if(order.paymentStatus === 'Pending') { %>
                                        <input id="re-total_amt" type="hidden" value="<%= order.totalPrice %>">
                                        <input id="re-order_id" type="hidden" value ="<%= order._id %>">
                                    <button onclick="startPayment()"  
                                        class="btn btn-danger btn-retry me-2 orderRetrybtn">
                                        Retry Payment
                                    </button>

                                <% } %>
                            </div>
    

                            <div class="col-md-4">
                                <p>
                                    <% if(order.status !== "Cancelled" && order.status !== "Delivered" && order.status !== "Returned") { %>
                                        <button id="hidebtn-<%= order._id %>" data-id="<%= order._id %>" 
                                            type="button" 
                                            class="btn btn-primary btn-cancel me-2 ordercanellbtn">
                                            Cancel Order
                                        </button>
                                        <br><br>
                                    <% } %>
                            
                                    <% if(order.status === "Delivered") { %>
                                        <button id="return-<%= order._id %>" data-returnid="<%= order._id %>" type="button" 
                                            class="btn btn-warning btn-return me-2 orderReturnbtn">
                                            Return Order
                                        </button>
                                        <br><br>
                                    <% } %>
                            
                                    <a href="/order_summary?orderid=<%= order._id %>" 
                                       class="btn btn-secondary btn-summary" >
                                       Order Summary
                                    </a>
                                    <br><br>
                                </p>
                            </div>
                        </div>
    
                        <% if(order.returnReason) { %>
                        <div class="row mt-4">
                            <div class="col">
                                <h5 class="card-title">Return Reason</h5>
                                <p><%= order.returnReason %></p>
                            </div>
                        </div>
                        <% } %>
    
                        <div class="d-flex justify-content-center mt-4">
                        </div>
                    </div>
                </div>
                <% }); %> 
                <div class="pagination-container">
                    <ul class="pagination">
                        <% if (currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>">&laquo;</a>
                            </li>
                        <% } %>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <% if (currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">&raquo;</a>
                            </li>
                        <% } %>
                    </ul>
                </div>
                            
            </div>
        </div>
    </div>

    
    <%- include("../layouts/user/footer.ejs") %>

</script>
<!-- aditional scriipt for sending message to user -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const message = "<%= message %>";
  const type = "<%= type %>";

  if (message && message.length > 0) {
      Swal.fire({
          icon: type, // 'success', 'error', 'warning', 'info'
          title: message,
          toast: true,
            position: "top-end",
            showConfirmButton: false,
            timerProgressBar: true,
            timer: 3000,
            customClass: {
           popup: 'custom-toast'
    },
    didOpen: () => {
        const swalPopup = document.querySelector('.custom-toast');
        swalPopup.style.marginTop = '70px';  
        swalPopup.style.marginRight = '15px'; 
    }

      });
  }
</script>

<script>
    // function for cancelling the order

    document.querySelectorAll(".ordercanellbtn").forEach(function(button){
        button.addEventListener("click",function(){
            const id = button.getAttribute("data-id");
            console.log("id for cancellthe order",id);

            Swal.fire({
            title: 'Are you sure?',
            text: "You are about to cancell this this order.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Cancell !'
            }).then((result)=>{
                if(result.isConfirmed) {
                    
                    fetch("/order_cancelled",{
                        method : "POST",
                        headers : {
                            "Content-Type" : "application/json"
                        },
                        body : JSON.stringify({id})
                    })

                    .then(responce => responce.json())
                    .then(data=>{
                        if(data.success){
                            Swal.fire({
                            icon: 'success',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                            })

                            const hidebtn = document.getElementById(`hidebtn-${id}`)
                            console.log(hidebtn)
                            if(hidebtn){
                                hidebtn.style.display='none';
                            }

                            const statusElement = document.getElementById(`status-${id}`);
                            if (statusElement) {
                            statusElement.innerText = 'Cancelled';
                            statusElement.className = 'badge rounded-pill alert-danger';
                             }

                             const itemstatusElement = document.getElementById(`itemstatus-${id}`);
                            if (itemstatusElement) {
                            itemstatusElement.innerText = 'Cancelled';
                            itemstatusElement.className = 'badge rounded-pill alert-danger';
                             }
                        }
                        else{
                            Swal.fire({
                            icon: 'error',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                            })
                        }
                
                    })
                    .catch(err=>{
                        console.log("error for cancel the order",err)
                    })
                }
            })
        })

    })
</script>

<!-- script for  retraypayment -->
<script>



async function startPayment() {
    try {
        const totalamt = document.getElementById("re-total_amt").value;
        const order_id = document.getElementById("re-order_id").value;

        console.log("details",totalamt,order_id)


        const response = await fetch("/create-order", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ amount: totalamt, order_id }) 
        });

        const data = await response.json();
        console.log("Order creation response:", data);  

        if (data.success) {
            const db_orderid = data.db_orderid;
            const options = {
                key: "<%= process.env.RAZORPAY_KEY_ID %>", 
                amount: data.order.amount,
                currency: "INR",
                name: "CRC WORLD",
                description: "Thanks for your order",
                order_id: data.order.id,
                db_orderid: data.db_orderid,
                handler: function (response) {
                    console.log("Payment succeeded:", response);  
                    response.db_orderid = db_orderid;
                    verifyPayment(response);
                },
                theme: {
                    color: "#3399cc"
                }
            };

            const rzp = new Razorpay(options);

            
            rzp.on("payment.failed", function (response) {
                console.log("Payment failed:", response.error);  
                window.location.href = `/payment_failed?id=${data.db_orderid}`; 
            });

            console.log("Opening Razorpay interface"); 
            rzp.open();
        } else {
            alert("Failed to create order. Try again.");
        }
    } catch (error) {
        console.error("Error in startPayment function:", error);
        alert("An error occurred. Please try again later.");
    }
}

async function verifyPayment(response) {
    try {
        const verifyResponse = await fetch("/verify-payment", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                ...response,
                db_orderid: response.db_orderid 
            })
        });

        const data = await verifyResponse.json();
        console.log("Verification response:", data);  

        if (data.success) {
            window.location.href = data.redirectUrl; 
        } else {
            window.location.href = '/payment_failed'; 
        }
    } catch (error) {
        console.error("Error in verifyPayment function:", error);
        window.location.href = '/payment_failed';
    }
}

</script>


<!-- Script for return a order -->
<script>

document.querySelectorAll(".btn-return").forEach(function(button){
    button.addEventListener("click",function(){
        const id = button.getAttribute("data-returnid");
        console.log("id for return a order",id)

        Swal.fire({
            title: 'Are you sure?',
            text: "You are about to return this this order.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Yes, Return !'
            }).then((result)=>{
                if(result.isConfirmed) {

                    fetch("/return_order",{
                        method: "POST",
                        headers : {
                            "Content-Type": "application/json"
                        },
                        body : JSON.stringify({id})
                    })

                    .then(responce => responce.json())
                    .then(data=>{
                        if(data.success){
                            Swal.fire({
                            icon: 'success',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                            })
                            console.log("Product returnd successfully")
                            
                            const returnbutton = document.getElementById(`return-${id}`)
                            console.log(returnbutton)
                            if(returnbutton){
                                returnbutton.style.display='none';
                            }
                            const statusBadge = document.getElementById(`status-${id}`);
                            if (statusBadge) {
                                statusBadge.innerHTML = "Returned";
                                statusBadge.className = "badge rounded-pill alert-danger";
                            }


                        }else{
                            Swal.fire({
                            icon: 'error',
                            text: data.message,
                            toast: true,
                            position: "top-end",
                            showConfirmButton: false,
                            timerProgressBar: true,
                            timer: 3000,
                            })
                            console.log("can't complate the request")
                        }
                    })
                    .catch(err=>{
                        console.log("error for cancel the order",err)
                    })
                        

                }
            })
                
    })
})
</script>


