
<%- include("../layouts/user/header.ejs") %>

    <!-- //my orders page -->

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="customer-box returning-customer text-center">
                <h3>
                    <i class="icon anm anm-user-al"></i>
                    <a>My Order</a>
                </h3>
    
                <% orderdetails.forEach(order => { %> 
                <div id="order-details" class="your-order-payment mb-4"> 
                    <div class="card-body">
                        <div class="row text-left">
                            
                            <div class="col-md-4">
                                <h5 class="card-title">Ordered Items</h5>
                                <h5 class="card-title" style="display: inline;">Status:</h5>
                                <h6 style="display: inline;">   <h2 class="badge rounded-pill 
                                    <% if (order.status === 'Pending' || order.status === 'Shipped') { %>
                                        alert-warning
                                    <% } else if (order.status === 'Delivered') { %>
                                        alert-success
                                    <% } else if (order.status === 'Cancelled' || order.status === 'Returned') { %>
                                        alert-danger
                                    <% } %>
                                ">
                                    <%= order.status %>
                                    </h2>   </h6>
                                <% order.items.forEach(item => { %> 
                                <p>
                                    <img src="/assets/uploads/product/<%= item.productimage[0] %>" alt="<%= item.productname %>" style="width: 110px; margin-top: 5px;"><br>
                                    <strong>Product:</strong> <%= item.productname %><br>
                                    <strong>Price:</strong> ₹<%= item.Salesprice.toFixed(2) %><br>
                                    <strong>Quantity:</strong> <%= item.quantity %><br>
                                    <strong>Size:</strong> <%= item.size %><br>
                                </p>
                                <% }) %>
                            </div>
    
                            <div class="col-md-4">
                                <h5 class="card-title">Order Summary</h5>
                                <p>
                                    <strong>Order ID:</strong> <%= order._id.toString() %><br>
                                    <strong>Order Date:</strong> <%= new Date(order.orderDate).toLocaleDateString() %><br>
                                    <strong>Total Price:</strong> ₹<%= order.totalPrice.toFixed(2) %><br>
                                    <strong>Payment Method:</strong> <%= order.paymentMethod %><br>
                                    <strong>Payment Status:</strong> <%= order.paymentStatus %>
                                </p>
                            </div>
    
                            <div class="col-md-4">
                                <p>
                                    <form action="/order_cancelled?id=<%= order ._id %>" method="post">
                                    <button type="submit" class="btn btn-outline-primary me-2" style="width: 200px;">Cancel order</button><br><br><br>
                                    </form>
                                    <a href="/order_summary?orderid=<%= order ._id %>" class="btn btn-outline-secondary" style="width: 200px;" >Order Summary</a>
                                </p>
                            </div>
                        </div>
    
                        <% if(order.returnReason) { %>
                        <div class="row mt-4">
                            <div class="col">
                                <h5 class="card-title">Return Reason</h5>
                                <p><%= order.returnReason %></p>
                            </div>
                        </div>
                        <% } %>
    
                        <div class="d-flex justify-content-center mt-4">
                        </div>
                    </div>
                </div>
                <% }); %> 
            </div>
        </div>
    </div>
    
    <%- include("../layouts/user/footer.ejs") %>

</script>
<!-- aditional scriipt for sending message to user -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const message = "<%= message %>";
  const type = "<%= type %>";

  if (message && message.length > 0) {
      Swal.fire({
          icon: type, // 'success', 'error', 'warning', 'info'
          title: message,
          showConfirmButton: true,
          timer: 3000 
      });
  }
</script>

