<%- include("../layouts/user/header.ejs") %>


<style>

  .wishlist-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
  }
  
  .wishlist-btn button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  
  .wishlist-btn i {
      font-size: 20px;
      color: rgb(0, 0, 0); 
  }
  
  .wishlist-btn .active i {
      color: black; 
  }
  
  
  </style>
  
<!--Body Content-->
<div id="page-content">
  <!--Home slider-->
  <div class="slideshow slideshow-wrapper pb-section">
    <div class="home-slideshow">
      <div class="slide">
        <div class="blur-up lazyload">
          <img
            class="blur-up lazyload"
            data-src="assets/images/slideshow-banners/homeslider-1.jpg"
            src="assets/images/slideshow-banners/homeslider-1"
            alt="Shop Our New Collection"
            title="Shop Our New Collection"
          />
          <div class="slideshow__text-wrap slideshow__overlay classic middle">
            <div class="slideshow__text-content middle">
              <div class="container">
                <div class="wrap-caption center">
                  <h2 class="h1 mega-title slideshow__title">KD &amp;DF</h2>
                  <span class="mega-subtitle slideshow__subtitle"
                    >DFDSJKLFK</span
                  >
                  <span class="btn">S</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="blur-up lazyload">
          <img
            class="blur-up lazyload"
            data-src="assets/images/slideshow-banners/homeslider-2.jpg"
            src="assets/images/slideshow-banners/homeslider-2.jpg"
            alt="Summer Bikini Collection"
            title="Summer Bikini Collection"
          />
          <div class="slideshow__text-wrap slideshow__overlay classic middle">
            <div class="slideshow__text-content middle">
              <div class="container">
                <div class="wrap-caption center">
                  <h2 class="h1 mega-title slideshow__title">
                    Fashion &amp; Show
                  </h2>
                  <span class="mega-subtitle slideshow__subtitle"
                    >A World Fashion and Trendy Fashion Clother's</span
                  >
                  <span class="btn">Shop now</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Home slider-->
  <!--Weekly Bestseller-->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="section-header text-center">
            <h2 class="h2">Weekly Bestseller</h2>
            <p>Our most popular products based on sales</p>
          </div>

          <div class="productSlider grid-products">
            <% for(let i =0; i<productlist.length ; i++) {        %>

            <div class="col-12 item">
              <!-- start product image -->
              <div class="product-image">
                <!-- start product image -->
                <a href="/load_productview?id=<%= productlist[i]._id%>" class="grid-view-item__link">
                  <!-- image -->
                   
                  <img
                    class="primary blur-up lazyload"
                    data-src="/assets/uploads/product/<%= productlist[i].productimage[0] %>"
                    src="/assets/uploads/product/<%= productlist[i].productimage[0] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- End image -->
                  <!-- Hover image -->
                  <img
                    class="hover blur-up lazyload"
                    data-src="/assets/uploads/product/<%= productlist[i].productimage[1] %>"
                    src="/assets/uploads/product/<%= productlist[i].productimage[1] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- End hover image -->
                  <!-- Variant Image-->
                  <img
                    class="grid-view-item__image hover variantImg"
                    src="/assets/uploads/product/<%= productlist[i].productimage[2] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- Variant Image-->
                  <!-- product label -->
                  <div class="product-labels rounded">
                    <!-- <span class="lbl on-sale">Sale</span> -->
                    <span class="lbl pr-label1">new</span>
                  </div>
                  <!-- End product label -->
                </a>
                <!-- end product image -->

                <!-- countdown start -->
                <!-- <div class="saleTime desktop" data-countdown="2022/03/01"></div> -->
                <!-- countdown end -->

                <!-- Start product button -->
                <div
                  class="variants add">
                 
                </div>
                <div >
                  <div class="wishlist-btn">
                      <button id="wishlistbtn" data-id="<%= productlist[i]._id%>" class="wishlist add-to-wishlist"  title="Add to Wishlist">
                        <i class="icon anm <%= wishlist.productIds.includes(productlist[i]._id.toString()) ? 'anm-heart' : 'anm-heart-l' %>"></i>
                    </button>
                  </div>
                  <div class="compare-btn">
                  </div>
                </div>
              </div>
              <!-- end product image -->

              <!--start product details -->
              
              <div class="product-details text-center">
                <div style="font-weight: bold;"  class="product-name">
                  <a href=""><%= productlist[i].brand.name %></a>
                </div>
                <div class="product-name">
                  <a href="/load_productview?id=<%= productlist[i]._id%>"><%= productlist[i].productname %></a>
                </div>
                
                <div class="product-price">
                  <span class="old-price"> <%= productlist[i].sizes[2].Actualprice %> </span>
                  <span class="price">  <%= priceHelper(productlist[i].sizes) %> </span>
                </div>
              </div>
            </div>
            <% }%>

              <!-- End product details -->

        </div>
      </div>
    </div>
  </div>
 </div>
  <!--Weekly Bestseller-->


  <!--Parallax Section-->
  <div class="section">
    <div class="hero hero--large hero__overlay bg-size">
      <img
        class="bg-img"
        src="assets/images/parallax-banners/backgroud.jpg"
        alt=""
      />
      <div class="hero__inner">
        <div class="container">
          <div class="wrap-text left text-small font-bold">
            <h2 class="h2 mega-title">
              Belle <br />
              The best choice for your store
            </h2>
            <div class="rte-setting mega-subtitle">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s.
            </div>
            <a href="#" class="btn">Purchase Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Parallax Section-->

  
  <!--New Arrivals-->
      
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="section-header text-center">
            <h2 class="h2">Brand New Bats</h2>
            <p>Our most popular products based on sales</p>
            <% if(batlist==null){ %>
              <h3>No Product Available in Category Bat</h3>
              <% }else{ %>
          </div>
          <div class="productSlider grid-products">
            

            <% for(let i =0; i<batlist.length ; i++) {        %>

            <div class="col-12 item">
              <!-- start product image -->
              <div class="product-image">
                <!-- start product image -->
                <a href="/load_productview?id=<%= batlist[i]._id%>" class="grid-view-item__link">
                  <!-- image -->
                   
                  <img
                    class="primary blur-up lazyload"
                    data-src="/assets/uploads/product/<%= batlist[i].productimage[0] %>"
                    src="/assets/uploads/product/<%= batlist[i].productimage[0] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- End image -->
                  <!-- Hover image -->
                  <img
                    class="hover blur-up lazyload"
                    data-src="/assets/uploads/product/<%= batlist[i].productimage[1] %>"
                    src="/assets/uploads/product/<%= batlist[i].productimage[1] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- End hover image -->
                  <!-- Variant Image-->
                  <img
                    class="grid-view-item__image hover variantImg"
                    src="/assets/uploads/product/<%= batlist[i].productimage[2] %>"
                    alt="image"
                    title="product"
                  />
                  <!-- Variant Image-->
                  <!-- product label -->
                  <div class="product-labels rounded">
                    <!-- <span class="lbl on-sale">Sale</span> -->
                    <span class="lbl pr-label1">new</span>
                  </div>
                  <!-- End product label -->
                </a>
                <!-- end product image -->

                <!-- countdown start -->
                <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                <!-- countdown end -->

                <!-- Start product button -->
                <!-- <form
                  class="variants add"
                  action="#"
                  onclick="window.location.href='cart.html'"
                  method="post"
                >
                  <button class="btn btn-addto-cart" type="button" tabindex="0">
                    Add To Cart
                  </button>
                </form> -->
                <div >
                  
                  <div class="wishlist-btn">
                    <button id="wishlistbtn" data-id="<%= batlist[i]._id%>" class="wishlist add-to-wishlist"  title="Add to Wishlist">
                      <i class="icon anm <%= wishlist.productIds.includes(batlist[i]._id.toString()) ? 'anm-heart' : 'anm-heart-l' %>"></i>
                  </button>
                </div>
                  <div class="compare-btn">
                    
                  </div>
                </div>
                <!-- end product button -->
              </div>
              <!-- end product image -->
              <!--start product details -->
              <div class="product-details text-center">
                <div style="font-weight: bold;"  class="product-name">
                  <a href=""><%= batlist[i].brand.name %></a>
                </div>
                <div class="product-name">
                  <a href="/load_productview?id=<%= batlist[i]._id%>"><%= batlist[i].productname %></a>
                </div>
                <!-- End product name -->
                <!-- product price -->
                <div class="product-price">
                  <span class="old-price"><%= batlist[i].sizes[2].Actualprice %></span>
                  <span class="price"><%= priceHelper(batlist[i].sizes) %></span>
                </div>
              </div>
            </div>
            <% }%>
        </div>
        <% } %>
      </div>
    </div>
  </div>
 </div>

    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="section-header text-center">
              <h2 class="h2">Brand New Gadget Collection</h2>
              <p>Our most popular products based on sales</p>
              <% if(gadlist==null){ %>
                <h3>No Product Available in Category gadgets</h3>
                <% }else{ %>

            </div>
  
            <div class="productSlider grid-products">
              <% for(let i =0; i<gadlist.length ; i++) {        %>
  
              <div class="col-12 item">
                <!-- start product image -->
                <div class="product-image">
                  <!-- start product image -->
                  <a href="/load_productview?id=<%= gadlist[i]._id%>" class="grid-view-item__link">
                    <!-- image -->
                     
                    <img
                      class="primary blur-up lazyload"
                      data-src="/assets/uploads/product/<%= gadlist[i].productimage[0] %>"
                      src="/assets/uploads/product/<%= gadlist[i].productimage[0] %>"
                      alt="image"
                      title="product"
                    />
                    <!-- End image -->
                    <!-- Hover image -->
                    <img
                      class="hover blur-up lazyload"
                      data-src="/assets/uploads/product/<%= gadlist[i].productimage[1] %>"
                      src="/assets/uploads/product/<%= gadlist[i].productimage[1] %>"
                      alt="image"
                      title="product"
                    />
                    <!-- End hover image -->
                    <!-- Variant Image-->
                    <img
                      class="grid-view-item__image hover variantImg"
                      src="/assets/uploads/product/<%= gadlist[i].productimage[2] %>"
                      alt="image"
                      title="product"
                    />
                    <!-- Variant Image-->
                    <!-- product label -->
                    <div class="product-labels rounded">
                      <!-- <span class="lbl on-sale">Sale</span> -->
                      <span class="lbl pr-label1">new</span>
                    </div>
                    <!-- End product label -->
                  </a>
                  <!-- end product image -->
  
                  <!-- countdown start -->
                  <div class="saleTime desktop" data-countdown="2022/03/01"></div>
                  <!-- countdown end -->
  
                  <!-- Start product button -->
                  <div >
                    
                    <div class="wishlist-btn">
                      <button id="wishlistbtn" data-id="<%= gadlist[i]._id%>" class="wishlist add-to-wishlist"  title="Add to Wishlist">
                        <i class="icon anm <%= wishlist.productIds.includes(gadlist[i]._id.toString()) ? 'anm-heart' : 'anm-heart-l' %>"></i>
                    </button>
                    </div>
                    <div class="compare-btn">
                      
                    </div>
                  </div>
                  <!-- end product button -->
                </div>
                <!-- end product image -->
                <!--start product details -->
                <div class="product-details text-center">
                  <div style="font-weight: bold;"  class="product-name">
                    <a href=""><%= gadlist[i].brand.name %></a>
                  </div>
  
                  <div class="product-name">
                    <a href="/load_productview?id=<%= gadlist[i]._id%>"><%= gadlist[i].productname %></a>
                  </div>
                  <!-- End product name -->
                  <!-- product price -->
                  <div class="product-price">
                    <span class="old-price"><%= gadlist[i].sizes[2].Actualprice %></span>
                    <span class="price"><%= priceHelper(gadlist[i].sizes) %></span>
                  </div>
                </div>
              </div>
              <% }%>
          </div>
          <% } %>
        </div>
      </div>
    </div>
   </div>
    <!--Weekly Bestseller-->
      </div>
    </div>
  </div>
  <!--End Featured Product-->

  <!--Logo Slider-->
  <div class="section logo-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-header text-center mb-5">
                    <h2 class="h2">The Most Loved Brands</h2>
                </div>
                <div class="logo-bar">
                    <% for(let i = 0; i < branddata.length; i++) { %>
                        <div class="logo-bar__item"  style="height: 120px;" >
                          <img src="/assets/uploads/brands/<%= branddata[i].image %>" 
                          class="img-fluid" 
                          alt="Logo" 
                          style="max-height: 100%; max-width: 100%; object-fit: contain;">                   
                       </div>

                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div> 
</div>

<span id="site-scroll"><i class="icon anm anm-angle-up-r"></i></span>

<%- include("../layouts/user/footer.ejs") %>

<script>
// product add to wishlist 

document.querySelectorAll(".wishlist").forEach(function(button){
  button.addEventListener("click",function(){
    const id = this.getAttribute("data-id")

    fetch("/addto_wishlist",{
      method : "POST",
      headers : {
        "Content-Type" : "application/json"
      },
      body : JSON.stringify({id})
    })
    .then(responce =>responce.json())
    .then((data)=>{
      if (data.success) {
                this.classList.toggle('active');
                this.querySelector('i').classList.replace('anm-heart-l', 'anm-heart');
                Swal.fire({
                    icon: 'success',
                    title: 'Added to Wishlist',
                    text: 'Product added to your wishlist!',
                    toast: true,
                    background: "black",
                    color: "white",
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                    customClass: {
                        popup: "custom-toast",
                    },
                    didOpen: () => {
                        const swalPopup = document.querySelector(".custom-toast");
                        swalPopup.style.marginBottom = "70px";
                        swalPopup.style.marginRight = "15px";
                    },
                });
    }else if(data.error){
      Swal.fire({
                    icon: 'warning',
                    title: 'warning',
                    text: 'Item alredy in the wishlist!',
                    toast: true,
                    background: "black",
                    color: "white",
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                    customClass: {
                        popup: "custom-toast",
                    },
                    didOpen: () => {
                        const swalPopup = document.querySelector(".custom-toast");
                        swalPopup.style.marginBottom = "70px";
                        swalPopup.style.marginRight = "15px";
                    },
                });
    }
    })
    .catch((err) => {
            console.log("Error adding item to wishlist: ", err);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again.',
                toast: true,
                background: "black",
                color: "white",
                position: 'bottom-end',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000,
                customClass: {
                    popup: "custom-toast",
                },
                didOpen: () => {
                    const swalPopup = document.querySelector(".custom-toast");
                    swalPopup.style.marginBottom = "70px";
                    swalPopup.style.marginRight = "15px";
                },
            });
        });
  })
})



</script>
