<%- include("../layouts/user/header.ejs") %>


    <!--Body Content-->
    <div id="page-content">
    	<!--Collection Banner-->
    	<div class="collection-header">
			<div class="collection-hero">
        		<div style="height: 500px;" class="collection-hero__image"><img class="blur-up lazyload" data-src="assets/images/crc/shope.jpg" src="assets/images/crc/shope.jpg" alt="Women" title="Women" /></div>
        		<div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">Shop Right Sidebar</h1></div>
      		</div>
		</div>
        <!--End Collection Banner-->
        
        <div class="container">
        	<div class="row">

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                    <hr>
                	<div  class="productList">
                        <div class="grid-products grid--view-items">
                            <div id='product-list' class="row">
                                <% for(i=0; i<productdata.length;i++){  %>
                                    <div  class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                                        <div class="product-image">
                                            <a href="/load_productview?id=<%= productdata[i]._id%>">
                                                <img class="primary blur-up lazyload" data-src="/assets/uploads/product/<%= productdata[i].productimage[0] %>" src="/assets/uploads/product/<%= productdata[i].productimage[0] %>" alt="image" title="product">
                                                <img class="hover blur-up lazyload" data-src="/assets/uploads/product/<%= productdata[i].productimage[1] %>" src="/assets/uploads/product/<%= productdata[i].productimage[1] %>" alt="image" title="product">
                                                 
                                            </a>
                                            <div class="button-set">
                                                <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                                                    <i class="icon anm anm-search-plus-r"></i>
                                                </a>
                                                <div class="wishlist-btn">
                                                    <form method="post" action="/addto_wishlisht?id=<%= productdata[i]._id%>">
                                                    <button type="submit" class="wishlist add-to-wishlist"  title="Add to Wishlist">
                                                        <i class="icon anm anm-heart-l"></i>
                                                    </button>
                                                    </form>
                                                </div>
                                                <div class="compare-btn">
                                                    <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                                        <i class="icon anm anm-random-r"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-details text-center">
                                            <div style="font-weight: bold;"  class="product-name">
                                                <a href=""><%= productdata[i].brand.name %></a>
                                              </div>
                                            <div class="product-name">
                                                <a href="#"><%= productdata[i].productname %></a>
                                            </div>
                                            <div class="product-price">
                                                <span class="old-price"><%= productdata[i].sizes[2].Actualprice %></span>
                                                <span class="price"><%= helpers.formatPrice(helpers.getAvailablePrice(productdata[i].sizes)) %></span>
                                            </div>
                                            
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                 </div>
                        </div>
                    </div>
                    <hr class="clear">
                    <div class="pagination">
                      <ul>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li class="next"><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i></a></li>
                      </ul>
                    </div>
                </div>


                <!--End Main Content-->
                <!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                        <br><br>


                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Sort Option</h2>
                            </div>
                            <div class="widget-content">
                                <ul >
                                    <li >
                                        <input type="checkbox" id="" class="sort-filter" value="price-asc">
                                        <label >
                                        <span><span></span></span>Price: Low to High
                                        </label>
                                    </li>
                                    <li >
                                        <input type="checkbox" id="" class="sort-filter" value="price-desc">
                                        <label >
                                        <span><span></span></span>Price: High to Low
                                        </label>
                                    </li>
                                    <li >
                                        <input type="checkbox" id="" class="sort-filter" value="alpha-asc">
                                        <label >
                                        <span><span></span></span>Name: A to Z
                                        </label>
                                        <li >
                                            <input type="checkbox" id="" class="sort-filter" value="alpha-desc">
                                            <label >
                                            <span><span></span></span>Name: Z to A
                                            </label>
                                        </li>
                                </ul>
                            </div>
                        </div>


                    	<!--Categories-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Categories</h2>
                            </div>
                            <div class="widget-content">
                                <ul >
                                    <% for(let i = 0; i < catdata.length; i++) { %>
                                    <li >
                                        <input type="checkbox" id="category_<%= catdata[i]._id %>" class="category-filter" value="<%= catdata[i]._id %>">
                                        <label >
                                        <span><span></span></span><%= catdata[i].name %>
                                        </label>
                                    </li>
                                    
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <!-- Categories -->

                        <!-- Brand -->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Brands</h2>
                            </div>
                            <ul>
                                <% for (let i = 0; i < branddata.length; i++) { %>
                                <li>
                                    <input type="checkbox" value="<%= branddata[i]._id %>" id="brand_<%= branddata[i]._id %>" class="brand-filter">
                                    <label for="brand_<%= branddata[i]._id %>">
                                        <span><span></span></span><%= branddata[i].name %>
                                    </label>
                                </li>
                                <% } %>
                            </ul>
                            <div class="apply-filter-btn">
                                <button id="applyFilterBtn" class="btn btn-primary">Apply Filter</button>
                                <a style="margin: 10px;" href="/user_shop" id="applyFilterBtn" class="btn btn-primary">Clear Filter </a>
                            </div>


                        </div>
                        <!-- Brand -->
            

                        <!--Banner-->
                        <div class="sidebar_widget static-banner">
                        	<img src="assets/images/side-banner-2.jpg" alt="" />
                        </div>
                        <!--Banner-->
                        <!--Information-->
                        <div class="sidebar_widget">
                            <div class="widget-title"><h2>Information</h2></div>
                            <div class="widget-content"><p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p></div>
                        </div>
                        <!--end Information-->
                    </div>
                </div>
                <!--End Sidebar-->
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
<script>
  const message = "<%= message %>";
  const type = "<%= type %>";

  if (message && message.length > 0) {
      Swal.fire({
          icon: type, // 'success', 'error', 'warning', 'info'
          title: message,
          showConfirmButton: false,
          timer: 2000 
      });
  }
  </script>


    
<script>

document.getElementById('applyFilterBtn').addEventListener('click', function() {
    
    let selectedCategories = [];
    document.querySelectorAll('.category-filter:checked').forEach((checkbox) => {
        selectedCategories.push(checkbox.value);
    });

    
    let selectedBrands = [];
    document.querySelectorAll('.brand-filter:checked').forEach((checkbox) => {
        selectedBrands.push(checkbox.value);
    });

    
    let selectedSort = [];
    document.querySelectorAll('.sort-filter:checked').forEach((checkbox) => {
        selectedSort.push(checkbox.value);
    });


    let searchquery = document.getElementById("search-input").value;


    
    let filterData = {
        categories: selectedCategories,
        brands: selectedBrands,
        sort: selectedSort,
        search: searchquery
    };

    console.log("this is the filter ",filterData);
    
    
    const productListDiv = document.getElementById('product-list');
    productListDiv.innerHTML = '<p>Loading...</p>';

    
    fetch('/product_filter', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(filterData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        // console.log("Received data:", data);
        if (data && data.products && data.products.length > 0) {
            updateProductList(data.products); 
        } else {
            updateProductList([]);
        }
    })
    .catch(error => console.error('Error:', error));
});

function updateProductList(products) {
    const productListDiv = document.getElementById('product-list');
    productListDiv.innerHTML = '';  

    if (products.length === 0) {
        productListDiv.innerHTML = '<p>No products found</p>';
        return;
    }

    products.forEach(product => {
        const productHTML = `
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                <div class="product-image">
                    <a href="/load_productview?id=${product._id}">
                        <img class="primary blur-up lazyload" data-src="/assets/uploads/product/${product.productimage[0]}" src="/assets/uploads/product/${product.productimage[0]}" alt="image" title="product">
                        <img class="hover blur-up lazyload" data-src="/assets/uploads/product/${product.productimage[1]}" src="/assets/uploads/product/${product.productimage[1]}" alt="image" title="product">
                    </a>
                    <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                        <button class="btn btn-addto-cart" type="button">Add To Cart</button>
                    </form>
                    <div class="button-set">
                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                            <i class="icon anm anm-search-plus-r"></i>
                        </a>
                        <div class="wishlist-btn">
                            <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist">
                                <i class="icon anm anm-heart-l"></i>
                            </a>
                        </div>
                        <div class="compare-btn">
                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                <i class="icon anm anm-random-r"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-details text-center">
                    <div style="font-weight: bold;" class="product-name">
                        <!-- Handle the brand name if available -->
                        <a href="#">${product.brand.name || 'Brand Name'}</a>
                    </div>
                    <div class="product-name">
                        <a href="#">${product.productname}</a>
                    </div>
                    <div class="product-price">
                        <span class="old-price">${product.sizes[2]?.Actualprice || ''}</span>
                        <span class="price">
                             ${
                                product.sizes[0]?.Salesprice > 0 
                                ? product.sizes[0].Salesprice 
                                : product.sizes[1]?.Salesprice > 0 
                                ? product.sizes[1].Salesprice 
                                : product.sizes[2]?.Salesprice > 0 
                                ? product.sizes[2].Salesprice 
                                : 'Unavailable'
                            }
                        </span>
                    </div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        `;
        
        productListDiv.insertAdjacentHTML('beforeend', productHTML);
    });
}

</script>
    


<%- include("../layouts/user/footer.ejs") %>
