<%- include("../layouts/user/header.ejs") %>

<style>

.wishlist-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
}

.wishlist-btn button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.wishlist-btn i {
    font-size: 20px;
    color: black; 
}

.wishlist-btn .active i {
    color: black; 
}


</style>
    <!--Body Content-->
    <div id="page-content">
    	<!--Collection Banner-->
    	<div class="collection-header">
			<div class="collection-hero">
        		<div style="height: 500px;" class="collection-hero__image"><img class="blur-up lazyload" data-src="assets/images/crc/shope.jpg" src="assets/images/crc/shope.jpg" alt="Women" title="Women" /></div>
        		<div class="collection-hero__title-wrapper"><h1 class="collection-hero__title page-width">CrC world</h1></div>
      		</div>
		</div>
        <!--End Collection Banner-->
        <div class="search">
            <div class="search__form">
                    <button class="go-btn search__button" ><i class="icon anm anm-search-l"></i></button>
                    <input class="search__input"  id="search-input" type="text" placeholder="Search entire store..." aria-label="Search" autocomplete="off">
                <button type="button" class="search-trigger close-btn"><i class="anm anm-times-l"></i></button>
            </div>
        </div>
        <br><br><br><br>
        
        <div class="container">
        	<div class="row">

                <div class="col-12 col-sm-12 col-md-9 col-lg-9 main-col">
                    <hr>
                	<div  class="productList">
                        <div class="grid-products grid--view-items">
                            <div id='product-list' class="row">
                                <% for(i=0; i<productdata.length;i++){  %>
                                    <div  class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                                        <div class="product-image">
                                            <a href="/load_productview?id=<%= productdata[i]._id%>">
                                                <img class="primary blur-up lazyload" data-src="/assets/uploads/product/<%= productdata[i].productimage[0] %>" src="/assets/uploads/product/<%= productdata[i].productimage[0] %>" alt="image" title="product">
                                                <img class="hover blur-up lazyload" data-src="/assets/uploads/product/<%= productdata[i].productimage[1] %>" src="/assets/uploads/product/<%= productdata[i].productimage[1] %>" alt="image" title="product">
                                                 
                                            </a>

                                            <div >
                                                <div class="wishlist-btn">
                                                    <% if(wishlist){ %>
                                                    <button id="wishlistbtn" data-id="<%= productdata[i]._id%>" class="wishlist add-to-wishlist"  title="Add to Wishlist">
                                                      <i class="icon anm <%= wishlist.productIds.includes(productdata[i]._id.toString()) ? 'anm-heart' : 'anm-heart-l' %>"></i>
                                                  </button>
                                                  <% } %>
                                                </div>
                                                <div class="compare-btn">
                                                </div>
                                              </div>


                                        </div>
                                        <div class="product-details text-center">
                                            <div style="font-weight: bold;"  class="product-name">
                                                <a href=""><%= productdata[i].brand.name %></a>
                                              </div>
                                            <div class="product-name">
                                                <a href="#"><%= productdata[i].productname %></a>
                                            </div>
                                            <!-- <div class="product-price">
                                                <span class="old-price"><%= productdata[i].sizes[2].Actualprice %></span>
                                                <span class="price"><%= priceHelper(productdata[i].sizes)%></span>
                                            </div> -->

                                            <div class="product-price">
                                                <% if(productdata[i].sizes[0].Actualprice !== productdata[i].sizes[0].priceafteroffer){ %>
                                                <span class="old-price"> <%= productdata[i].sizes[0].Actualprice ? productdata[i].sizes[0].Actualprice : productdata[i].sizes[1].Actualprice ? productdata[i].sizes[1].Actualprice : productdata[i].sizes[2].Actualprice  %> <%=  %> </span>
                                                <% } %>
                                                
                                                <span class="price"><span style="color: rgb(216, 41, 41);">  <%= priceHelper(productdata[i].sizes) %> </span>
                                                  <% if(productdata[i].sizes[0].Actualprice !== productdata[i].sizes[0].priceafteroffer){ %>
                                                  <% const  percentage = ((productdata[i].sizes[0].Actualprice - productdata[i].sizes[0].priceafteroffer) / productdata[i].sizes[0].Actualprice) * 100 %>
                                                    <span style="color: green;"><%= percentage.toFixed()%>% off</span> <% } %> </span>
                                              </div>
                              
                                            
                                            <div class="product-review">
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                                <i class="font-13 fa fa-star-o"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                 </div>
                        </div>
                    </div>
                    <hr class="clear">
                    <div class="pagination">
                        <ul>
                            <% if (currentPage > 1) { %>
                                <li class="previous">
                                    <a href="?page=<%= currentPage - 1 %>">
                                        <i class="fa fa-caret-left" aria-hidden="true"></i>
                                    </a>
                                </li>
                            <% } %>
                    
                            <% for (let i = 1; i <= totalPages; i++) { %>
                                <li class="<%= parseInt(currentPage) === i ? 'active' : '' %>">
                                    <a href="?page=<%= i %>"><%= i %></a>
                                </li>
                            <% } %>
                    
                            <% if (currentPage < totalPages) { %>
                                <li class="next">
                                    <a href="?page=<%= currentPage + 1 %>">
                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                                        
                </div>


                <!--End Main Content-->
                <!--Sidebar-->
            	<div class="col-12 col-sm-12 col-md-3 col-lg-3 sidebar filterbar">
                	<div class="closeFilter d-block d-md-none d-lg-none"><i class="icon icon anm anm-times-l"></i></div>
                        <br><br>


                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Sort Option</h2>
                            </div>
                            <div class="widget-content">
                                <ul>
                                    <!-- Price Filter Group -->
                                    <li>
                                        <input type="radio" name="price" id="price-asc" class="sort-filter" value="price-asc">
                                        <label for="price-asc">
                                            <span><span></span></span>Price: Low to High
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="price" id="price-desc" class="sort-filter" value="price-desc">
                                        <label for="price-desc">
                                            <span><span></span></span>Price: High to Low
                                        </label>
                                    </li>
                                
                                    <!-- Alphabetical Filter Group -->
                                    <li>
                                        <input type="radio" name="alpha" id="alpha-asc" class="sort-filter" value="alpha-asc">
                                        <label for="alpha-asc">
                                            <span><span></span></span>Name: A to Z
                                        </label>
                                    </li>
                                    <li>
                                        <input type="radio" name="alpha" id="alpha-desc" class="sort-filter" value="alpha-desc">
                                        <label for="alpha-desc">
                                            <span><span></span></span>Name: Z to A
                                        </label>
                                    </li>
                                </ul>
                                
                            </div>
                        </div>


                    	<!--Categories-->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Categories</h2>
                            </div>
                            <div class="widget-content">
                                <ul >
                                    <% for(let i = 0; i < catdata.length; i++) { %>
                                    <li >
                                        <input type="checkbox" id="category_<%= catdata[i]._id %>" class="category-filter" value="<%= catdata[i]._id %>">
                                        <label >
                                        <span><span></span></span><%= catdata[i].name %>
                                        </label>
                                    </li>
                                    
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <!-- Categories -->

                        <!-- Brand -->
                        <div class="sidebar_widget filterBox filter-widget">
                            <div class="widget-title">
                                <h2>Brands</h2>
                            </div>
                            <ul>
                                <% for (let i = 0; i < branddata.length; i++) { %>
                                <li>
                                    <input type="checkbox" value="<%= branddata[i]._id %>" id="brand_<%= branddata[i]._id %>" class="brand-filter">
                                    <label for="brand_<%= branddata[i]._id %>">
                                        <span><span></span></span><%= branddata[i].name %>
                                    </label>
                                </li>
                                <% } %>
                            </ul>
                            <div class="apply-filter-btn d-flex align-items-center">
                                <button id="applyFilterBtn" class="btn btn-primary">Apply Filter</button>
                                <a style="margin-left: 10px;" href="/user_shop" id="clearFilterBtn" class="btn btn-primary">Clear Filter</a>
                            </div>


                        </div>
                        <!-- Brand -->
            

                        <!-- <div class="sidebar_widget static-banner">
                        	<img src="assets/images/crc/new-Cricket-baneer.png" alt="new-Cricket-baneer.png" />
                        </div>
                        <div class="sidebar_widget">
                            <div class="widget-title"><h2>Information</h2></div>
                            <div class="widget-content"><p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p></div>
                        </div>
                    </div> -->
                </div>
                <!--End Sidebar-->
            </div>
        </div>
        
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        
<script>
  const message = "<%= message %>";
  const type = "<%= type %>";

  if (message && message.length > 0) {
      Swal.fire({
          icon: type, // 'success', 'error', 'warning', 'info'
          title: message,
        toast: true,
        background: "black",
        color: "white",
        position: 'bottom-end',
        showConfirmButton: false,
        timerProgressBar: true,
        timer: 3000,
        customClass: {
          popup: "custom-toast",
        },
        didOpen: () => {
          const swalPopup = document.querySelector(".custom-toast");
          swalPopup.style.marginBottom = "70px";
          swalPopup.style.marginRight = "15px";
        },

      });
  }


  // for product add to wishlist 

  document.querySelectorAll(".wishlist").forEach(function(button) {
    button.addEventListener("click", function() {
        const id = this.getAttribute("data-id");
        console.log("item id", id);
        
        fetch("/addto_wishlist", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({ id: id })
        })
        .then(response => response.json())
        .then((data) => {
            if (data.success) {
                this.classList.toggle('active');
                this.querySelector('i').classList.replace('anm-heart-l', 'anm-heart');
                Swal.fire({
                    icon: 'success',
                    title: 'Added to Wishlist',
                    text: 'Product added to your wishlist!',
                    toast: true,
                    background: "black",
                    color: "white",
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                    customClass: {
                        popup: "custom-toast",
                    },
                    didOpen: () => {
                        const swalPopup = document.querySelector(".custom-toast");
                        swalPopup.style.marginBottom = "70px";
                        swalPopup.style.marginRight = "15px";
                    },
                });
            } else if (data.error) {
                Swal.fire({
                    icon: 'warning',
                    title: 'warning',
                    text: 'Item alredy in the wishlist!',
                    toast: true,
                    background: "black",
                    color: "white",
                    position: 'bottom-end',
                    showConfirmButton: false,
                    timerProgressBar: true,
                    timer: 3000,
                    customClass: {
                        popup: "custom-toast",
                    },
                    didOpen: () => {
                        const swalPopup = document.querySelector(".custom-toast");
                        swalPopup.style.marginBottom = "70px";
                        swalPopup.style.marginRight = "15px";
                    },
                });
            }
        })
        .catch((err) => {
            console.log("Error adding item to wishlist: ", err);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again.',
                toast: true,
                background: "black",
                color: "white",
                position: 'bottom-end',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 3000,
                customClass: {
                    popup: "custom-toast",
                },
                didOpen: () => {
                    const swalPopup = document.querySelector(".custom-toast");
                    swalPopup.style.marginBottom = "70px";
                    swalPopup.style.marginRight = "15px";
                },
            });
        });
    });
});



  </script>


    
<script>


const price = function(size) {
  let finalprice = 0;

  for (let value of size) {
    if (value.priceafteroffer !== undefined && value.priceafteroffer > 0) {
      finalprice = value.priceafteroffer;
    } else if (value.Salesprice > 0) {
      finalprice = value.Salesprice;
    }

    if (finalprice > 0) {
      return Math.round(finalprice);
    }
  }

  return "Unavailable";
};



const searchBar = document.getElementById("search-input");
const applyFilterBtn = document.getElementById("applyFilterBtn");
const productListDiv = document.getElementById('product-list');

function debounce(func, delay) {
    let debounceTimer;
    return function (...args) {
        clearTimeout(debounceTimer);
        debounceTimer = setTimeout(() => func.apply(this, args), delay);
    };
}

function applyFilter() {
    let selectedCategories = [];
    document.querySelectorAll('.category-filter:checked').forEach((checkbox) => {
        selectedCategories.push(checkbox.value);
    });

    let selectedBrands = [];
    document.querySelectorAll('.brand-filter:checked').forEach((checkbox) => {
        selectedBrands.push(checkbox.value);
    });

    let selectedSort = [];
    document.querySelectorAll('.sort-filter:checked').forEach((checkbox) => {
        selectedSort.push(checkbox.value);
    });

    let searchQuery = searchBar.value.trim();  

    let filterData = {
        categories: selectedCategories,
        brands: selectedBrands,
        sort: selectedSort,
        search: searchQuery
    };

    console.log("This is the filter:", filterData);

    productListDiv.innerHTML = '<p>Loading...</p>'; 
    fetch('/product_filter', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(filterData)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json();
    })
    .then(data => {
        if (data && data.products && data.products.length > 0) {
            updateProductList(data.products);
        } else {
            updateProductList([]);
        }
    })
    .catch(error => console.error('Error:', error));
}

const debouncedSearch = debounce(applyFilter, 300);  

applyFilterBtn.addEventListener('click', applyFilter);
searchBar.addEventListener('input', debouncedSearch);  

function updateProductList(products) {
    productListDiv.innerHTML = '';

    if (products.length === 0) {
        productListDiv.innerHTML = '<p>No products found</p>';
        return;
    }

    products.forEach(product => {
        let percentage = 0;
        if (product.sizes[0].Actualprice !== product.sizes[0].priceafteroffer) {
            percentage = ((product.sizes[0].Actualprice - product.sizes[0].priceafteroffer) / product.sizes[0].Actualprice) * 100;
        }

        const productHTML = `
            <div class="col-6 col-sm-6 col-md-4 col-lg-3 item">
                <div class="product-image">
                    <a href="/load_productview?id=${product._id}">
                        <img class="primary blur-up lazyload" data-src="/assets/uploads/product/${product.productimage[0]}" src="/assets/uploads/product/${product.productimage[0]}" alt="image" title="product">
                        <img class="hover blur-up lazyload" data-src="/assets/uploads/product/${product.productimage[1]}" src="/assets/uploads/product/${product.productimage[1]}" alt="image" title="product">
                    </a>
                    <form class="variants add" action="#" onclick="window.location.href='cart.html'" method="post">
                        <button class="btn btn-addto-cart" type="button">Add To Cart</button>
                    </form>
                    <div class="button-set">
                        <a href="javascript:void(0)" title="Quick View" class="quick-view-popup quick-view" data-toggle="modal" data-target="#content_quickview">
                            <i class="icon anm anm-search-plus-r"></i>
                        </a>
                        <div class="wishlist-btn">
                            <a class="wishlist add-to-wishlist" href="#" title="Add to Wishlist">
                                <i class="icon anm anm-heart-l"></i>
                            </a>
                        </div>
                        <div class="compare-btn">
                            <a class="compare add-to-compare" href="compare.html" title="Add to Compare">
                                <i class="icon anm anm-random-r"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="product-details text-center">
                    <div style="font-weight: bold;" class="product-name">
                        <a href="#">${product.brand.name || 'Brand Name'}</a>
                    </div>
                    <div class="product-name">
                        <a href="#">${product.productname}</a>
                    </div>
                    <div class="product-price">
                        ${product.sizes[0].Actualprice !== product.sizes[0].priceafteroffer 
                            ? `<span class="old-price">${product.sizes[0].Actualprice}</span>` 
                            : ''}
                        <span class="price" style="color: rgb(216, 41, 41);">
                            ${product.sizes[0].priceafteroffer}
                            ${percentage > 0 ? `<span style="color: green;">${percentage.toFixed(0)}% off</span>` : ''}
                        </span>
                    </div>
                    <div class="product-review">
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star"></i>
                        <i class="font-13 fa fa-star-o"></i>
                        <i class="font-13 fa fa-star-o"></i>
                    </div>
                </div>
            </div>
        `;

        productListDiv.insertAdjacentHTML('beforeend', productHTML);
    });
}

// script for preventin multiple sellecti  of price and  alpha filter

const checkboxes = document.querySelectorAll('.sort-filter');

checkboxes.forEach((checkbox) => {
    checkbox.addEventListener('change', () => {
        // Uncheck all other checkboxes
        checkboxes.forEach((cb) => {
            if (cb !== checkbox) {
                cb.checked = false;
            }
        });
    });
});
</script>
    


<%- include("../layouts/user/footer.ejs") %>
